<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('./layout/head.ejs')%>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/post">Sample Post</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Man must explore, and this is exploration at its greatest</h1>
                            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">Start Bootstrap</a>
                                on August 24, 2021
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <form id="signin-form" class="signin-form" action="/addPost" 
        method="post" enctype="multipart/form-data">
            
           <div class = "container">
            <div class="form-group">
                <input type="text" class="form-input" name="title" id="email" placeholder="Your Title" />
            </div>
            <div class="form-group">
                <input type="text" class="form-input" name="subtitle"  placeholder="Sub Title" />

            </div>
            <div class = "form-group">
                <!-- <label>Post Here...</label> -->
                <textarea type="text" class="form-input" name="postContent"  placeholder="Post Here"></textarea>

            </div> 
            <div class="form-group">
                <label for="pwd">Image:</label>
                <input type="file" class="form-control" name="image">
              </div>

            <div class="form-group">
                <input type="submit" name="submit" id="submit" class="form-submit" value="Post" />
            </div>
        </div>
        </form>
        <!-- Footer-->
        <%-include('./layout/footer.ejs')%>
        <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
        <script>
            CKEDITOR.replace( 'postContent' );
            CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR

       </script>

    </body>
</html>
